<div class="mentions-container">
  <h1><%= t('mentions') %></h1>
  <p><%= raw(t('mentions-texte')) %></p>
  <br><br>
  <p><%= link_to t('mentions-back'), root_path %></p>
</div>


<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/873132985&color=%23ab141c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/boris-wieser-siegl" title="Boris Wieser-Siegl" target="_blank" style="color: #cccccc; text-decoration: none;">Boris Wieser-Siegl</a> · <a href="https://soundcloud.com/boris-wieser-siegl/04-lifestyle" title="04 Lifestyle" target="_blank" style="color: #cccccc; text-decoration: none;">04 Lifestyle</a></div>
