<div class="mentions-container">
  <h1><%= t('mentions') %></h1>
  <p><%= raw(t('mentions-texte')) %></p><br>
  <p><%= raw(t('mentions-email')) %></p>
  <br><br>
  <p><%= link_to t('mentions-back'), root_path %></p>
</div>
