<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new message from <%= @message.name %>!</p>
    <p>
    message details<br>
    --------------------------
    </p>
    <p>Name: <%= @message.name %></p>
    <p>Email: <%= @message.email %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @message.content %></p>
  </body>
</html>
