.alert-info {
  color: rgba(58, 51, 53, 0.65);
  font-family: 'Poiret One', cursive;
  background-color: rgba(224, 175, 160, 0.6);
  border: none;
  border-radius: 0px;
  font-size: 18px;
  width: 100%;
  margin-top: -80px;
  margin-bottom: 40px;
}
