.contact-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h1 {
    margin: 0px;
  }
}

.contact {
  width: 80%;
  line-height: 1.8;
  display: flex;
}

.contact-left {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  position: relative;
  .contact-photo {
    width: 75%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contact-texte {
    background: #FAF2F0;
    opacity: 0.9;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    right: 0px;
    width: 65%;
    height: 55%;
    overflow: auto;
    display: table;
    p {
      font-size: 20px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
    }
    a {
      font-weight: bold;
    }
    a:hover {
      color: #E0AFA0;
    }
  }
}

.contact-right {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
}

@media screen and (max-width: 800px) {
  .contact {
    width: 85%;
    margin: auto;
    display: block;
  }
  .contact-left {
    width: 100%;
    position: relative;
    .contact-photo {
      display: none;
    }
    .contact-texte {
      background: none;
      opacity: 1;
      position: relative;
      width: auto;
      height: auto;
      margin: 5% 0;
    }
  }
  .contact-right {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .contact {
    width: 100%;
    margin: auto;
    display: block;
  }
  .contact-left {
    width: 100%;
    position: relative;
    .contact-photo {
      display: none;
    }
    .contact-texte {
      background: none;
      opacity: 1;
      position: relative;
      width: auto;
      height: auto;
      margin: 5% 0;
    }
  }
  .contact-right {
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .contact-texte {
    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  .contact-left {
    .contact-texte {
      p {
        padding: 0;
        text-align: justify;
        font-size: 20px;
      }
    }
  }
  .contact-right {
    width: 100%;
  }
}
