.footer {
  background: rgba(108, 100, 96, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
  p {
    color: #FAF2F0
  }
}

.footer a {
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}

.footer-copyright {
  display: flex;
  p {
    font-size: 16px;
    margin: 0px 15px;
    font-family: 'Roboto', sans-serif;
  }
}

.footer-copyright a {
  font-size: 14px;
}

.footer-copyright a:hover {
  opacity: 0.6;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #f0d7d1;
  img {
    height: 30px;
    margin-bottom: 4px;
    filter: invert(98%) sepia(4%) saturate(2421%) hue-rotate(299deg) brightness(97%) contrast(93%);
  }
}

.footer-links a:hover {
  opacity: 1;
  color: #E0AFA0;
  img {
    filter: invert(99%) sepia(77%) saturate(1381%) hue-rotate(295deg) brightness(91%) contrast(92%);
  }
}

@media screen and (max-width: 823px) and (orientation: landscape) {
  .footer {
    height: fit-content;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 0;
    height: fit-content;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    height: fit-content;
    p {
      margin: 5px 0;
    }
  }
  .footer-copyright {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 0 10px;
    justify-content: center;
    height: auto;
    position: relative;
    flex-direction: column;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
  p {
      margin-top: 10px;
    }
  a {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }
  }
  .footer-links {
    padding: 10px;
  }
}
