.invisible {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.locale-desktop {
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
  opacity: 0.7;
  a:hover {
    color: #008589;
  }
  #button-move {
    transition: 0.3s ease;
  }
}

.locale-mobile {
  display: none;
}

@media screen and (max-width: 500px) {

  .locale-desktop {
    display: none;
  }

  .locale-mobile {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 0.7;
    display: block;
    .btn-ghost {
      top: 0px;
      right: 0px;
      border-radius: 25px 0px 0px 25px;
    }
  }
}
