.navbar {
  -webkit-justify-content: flex-end;
  z-index: 1000;
  margin-bottom: 40px;
  align-items: flex-start;
  .navbar-links {
    width: fit-content;
    display: flex;
    align-items: center;
    position: absolute;
    padding-left: 20px;
    margin-right: 15px;
    p:hover {
      color: rgba(108, 100, 96, 0.8);
      opacity: 0.6;
    }
    p {
      font-family: "Roboto", sans-serif;
      margin: 0px;
      color: rgb(108, 100, 96);
      font-size: 20px;
      padding: 0px 10px;
    }
  }
}

.navbar-line {
  height: 1px;
  width: 100%;
  background-color: rgba(224, 175, 160, 0.6);
  position: absolute;
  bottom: -12px;
  right: -15px;
}

.navbar-btn {
  background: rgba(224, 175, 160, 0.5);
  border-radius: 25px;
  height: 34px;
  margin: 0px 0px 0px 10px;
  padding: 0px 12px;
  box-shadow: 0px 1px 4px rgba(108, 100, 96, 0.2);
  p {
    line-height: 34px;
    padding: 0px 10px;
  }
}

.navbar-btn:hover {
  opacity: 0.8;
  box-shadow: none;
}

@media screen and (max-width: 800px) {
  .navbar-links {
    p {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}
