.presentation {
  width: 80%;
  margin: 0 auto;
  line-height: 1.8;
  justify-content: center;
  img {
    float: left;
    max-height: 300px;
    margin: 10px 20px 20px 0;
  }
}

.presentation p {
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .presentation {
    p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .presentation {
    width: 85%;
    margin: 0 auto;
    p {
      margin: 0px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .presentation {
    img {
      display: none;
    }
  }
}
