.presentation {
  width: 80%;
  margin: 0 auto;
  line-height: 1.8;
  display: flex;
  justify-content: center;
}

.presentation p {
  text-align: justify;
  margin: 0px 50px;
  color: #4C4643;
}

.points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.point {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}

.point-1 {
  background: #E0AFA0;
}

.point-2 {
  background-color: rgba(224, 175, 160, 0.75);
}

.point-3 {
  background-color: rgba(224, 175, 160, 0.5);
}

.point-4 {
  background-color: rgba(224, 175, 160, 0.25);
}

@media screen and (max-width: 800px) {
  .presentation {
    width: 80%;
    margin: 0 auto;
    p {
      margin: 0px;
    }
  }
  .point {
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 500px) {
  .points {
    display: none;
  }
}
