<div class="banner" id="banner">

  <% if I18n.locale == :fr %>
    <%= image_tag "logo_grand_fr.png" %>
  <% else %>
    <%= image_tag "logo_grand_en.png" %>
  <% end %>

  <%= render 'layouts/locale_mobile' %>

</div>
