<div class="container-full container-full-pink" id="presentation">
  <script>
    $(document).ready(function(){
      setTimeout(function(){
         document.getElementById('button-move').style.right = '0px';
         // new left position is 1000px in this example
      }, 200); // 2000 = 2 seconds after page load
    });
  </script>


  <h1><%= t('presentation') %></h1>

  <div class="presentation">
    <div class="points">
      <div class="point point-1"></div>
      <div class="point point-2"></div>
      <div class="point point-3"></div>
      <div class="point point-4"></div>
    </div>

    <div class="texte">
      <p><%= raw(t('presentation-text')) %></p>

      <!-- <p>C’est en 2017 que mon parcours semé d'embûches m’a menée vers le code. Passionnée par les langues étrangères depuis de nombreuses années, j'ai découvert émerveillée de nouveaux langages à apprendre !

        <br><br>En 2019, je me lance et suis une formation intensive de 9 semaines à l’école du Wagon, à Bordeaux. C’est décidé : je ferai du code mon métier.

        <br><br>Après la réalisation de quelques sites pour me faire la main, je crée enfin mon entreprise en juillet 2020. Je découvre alors, en plus du code, la joie de travailler avec des personnes déterminées qui prennent leur projet très à cœur.

        <br><br>Espérant avoir l’honneur de travailler avec vous, je vous invite à me contacter pour que, ensemble, nous donnions vie à vos idées.
        <br><br>A très bientôt
        <br><br>Fanny
      </p>
    </div> -->
    </div>
  </div>
</div>
