<div class="container-full container-full-pink" id="presentation">
  <script>
    $(document).ready(function(){
      setTimeout(function(){
         document.getElementById('button-move').style.right = '0px';
         // new left position is 1000px in this example
      }, 200); // 2000 = 2 seconds after page load
    });
  </script>


  <h1><%= t('presentation') %></h1>

  <div class="presentation">
    <%= image_tag "photo.png" %>
    <p><%= raw(t('presentation-text')) %></p>
  </div>
</div>
